img {
  width: 100%;
  height: 100%;
}

#clock {
  background-color: grey;
  background-image: url("https://e.edim.co/205361572/xSsY3x4u8MKfJxxw.png?response-content-disposition=filename%3D%22clockimage.png%22%3B%20filename%2A%3DUTF-8%27%27clockimage.png&Expires=1642109972&Signature=wDq9aG8kLEFGX3bcBmnlO8HDHT6OHtpzNzOwGwskkbvMIOQvZQwIdmElbEnevEHqfX5WMfGNy7MRABeon0p4DL4mJNwvS3pJe3Iy02ulMLo4EHJTav17ey7607A7TJHD8ikxaDb0VCbuh5IdigG2MApHR9QJ6K4T5UMxYSbFRawqPmtDLM8iyqL5fO6pEIIMvXscwFG2DoCJcGEVxQBr3UrOaxXovbdpTbpvV7ycin2rP55TXQbj5T0a2likIy5~VgedZWD1Qf43yeHkyJwaTc5hwWg42~oiQt1nTc6HbOrsrouMoRt29ipvHyOK-Dw3HwuhcJHf-quQ29o4ANYoIw__&Key-Pair-Id=APKAJMSU6JYPN6FG5PBQ");
  height: 600px;
  width: 600px;
  background-size:600px 600px;
  position: relative;
}
